.home__body {
    margin-left:252px;
    background-color: #f4f4f6;
}

.home__body main{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 40px 40px 40px 40px;

}



.home__courses-section {
    background-color: #f8dddd;
    border-radius: 20px;
    width:100%;
    height:500px;

    margin-bottom:40px;

    box-sizing: border-box;
    padding:30px;
}

.home__courses-section-title {
    font-size: 24px;
    font-weight: 600;
    color:rgb(0, 0, 0);

    height:10%;
}


.home__courses-container {
    height:90%;
    display:flex;
    align-items: center;
    gap:30px;
    overflow-x: auto;
}
.home__courses-container::-webkit-scrollbar {
    width:0;
}

.home__course {
    min-width:300px;
    height:95%;
    border-radius: 10px;
    background-color: grey;

    display:flex;
    flex-direction: column;
    justify-content: end;

    position: relative;
    overflow: hidden;
    transition: 0.2s ease;
    
    cursor:pointer;
    
}
.home__course:hover {
    min-width:310px;
    height:96%;
    box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.51);
}

.home__course-title, .home__course-description {
    margin-left:20px;
    margin-right:20px;
}   

.home__course-title {
    font-size: 24px;
    font-weight: 500;
    color:white;
    z-index: 10;
    transition: 0.2s ease;

    margin-bottom: 4px;

}
.home__course:hover .home__course-title {
    transform:scale(1.015);
}

.home__course-description {
    font-size: 18px;
    font-weight: 400;
    color:white;
    
    z-index: 10;
    margin-bottom: 24px;
    transition: 0.2s ease;
}
.home__course:hover .home__course-description {
    transform:scale(1.015);
}

.home__course-img-container {
    width:100%;

}
.home__course-img-overlay{
    width:100%;
    height: 100%;
    background-color: rgba(158, 27, 27, 0.26);

    position: absolute;
    top:0;

    z-index: 5;

}

.home__course-img {
    height: 100%;
    width:100%;

    position:absolute;
    top:0;
    z-index: 1;

    object-fit: cover;
}



.home__checkup-networking-hotlines-container {
    width:100%;

    display:grid;
    grid-template-areas: 
        "main check"
        "main hotline";

    grid-template-columns: 1fr 500px;
    grid-template-rows: 500px 1fr;
    row-gap: 40px;
    column-gap: 40px;
}



.home__checkup-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home__checkup {
    grid-area:check;
    background-color: #f8dddd;
    border-radius: 20px;
    width:100%;
    height:100%;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding:30px;
    padding-top:60px;

    position:relative;

}

.home__checkup-section-title {
    position:absolute;
    top:30px;
    left:30px;

    font-size: 24px;
    font-weight: 600;

}

.home__checkup-icon {
    width:130px;
    
    margin-bottom: 30px;
}

.home__checkup-title {
    font-size: 34px;
    font-weight: 600;
    color:#292E5A;

    margin-bottom: 30px;
}

.home__checkup-section-2 {
    padding:20px 25px 20px 25px;
    background-color: #fff6f6;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__checkup-text {
    font-weight: 500;

    margin-bottom: 15px;
}

.home__checkup-button {
    font-weight:500;
    font-size:24px;
    color:white;

    padding:15px;
    border-radius:15px;
    background: #e7477d;
    z-index: 100;

    display:inline-block;
    transition: 0.2s ease;

    cursor: pointer;
    text-decoration: none;
    }
.home__checkup-button:hover{
    background: #e6306d;
}
.home__checkup-button:active{
    background: #d31051;
}



.home__hotlines-container {
    grid-area:hotline;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home__hotlines-section {
    grid-area:hotline;
    background-color: #f8dddd;
    border-radius: 20px;
    width:100%;
    height:100%;

    box-sizing: border-box;
    padding:0 30px 30px 30px;
}

.home__hotlines-text-title-container {
    position:sticky;
    top:0;
    padding-top:30px;
}

.home__hotlines-title {
    color:rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.home__hotlines-text {
    font-size:20px;
    line-height: 50px;
    font-weight: 500;

    color:#292E5A;
}


.home__networking-container {
    grid-area:main;
    width:100%;
    height:100%;

}

.home__networking-section {
    border-radius: 20px;
    width:100%;
    height:100%;

    box-sizing: border-box;
    padding:30px;
    padding-bottom: 0px;



}

.home__networking-title-add-container {
    display: flex;
    position: relative;

}

.home__networking-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;

    max-width: 100px;
}

.home__add-button {
    height:100%;
    width:30px;

    position: absolute;
    right:0;
}

.home__add-post-container {
    width:90%;
    background-color: white;
    border-radius: 15px;

    box-sizing: border-box;
    padding:50px 60px 50px 60px;

    display: flex;
    flex-direction: column;
    gap:20px;
}

.home__input-box {
    height:200px;
    resize: none;

    font-size: 16px;
    font-family: Inter;
    color:black;
    font-weight: 500;

    background-color: rgb(252, 249, 249);
    padding: 16px;
    
    border-radius: 5px;
    border-width: 0px;

    transition: 0.2s ease;
}
.home__input-box:focus {
    background-color: rgb(245, 243, 243);
}

.home__continue-button {
    height:40px;
    border-radius: 10px;
    background: #f7d4d5;
    color: #00013E;
    font-weight: 600;

    display:flex;
    align-items: center;
    justify-content: center;

    cursor:pointer;
    transition: 0.2s ease;

}
.home__continue-button:hover {
    background: #fdcfd1;
}
.home__continue-button:active {
    background: #f3bfc1;
}


.home__posts-container {
    display: flex;
    flex-direction: column;
    gap:40px;

    margin-left: 30px;
}

.home__post {
    width:90%;
    background-color: white;
    border-radius: 15px;

    box-sizing: border-box;
    padding:50px 60px 50px 60px;
    
}

.home__post-profile {
    display:flex;
    align-items: center;
    gap:20px;

    margin-bottom: 20px;
}

.home__post-profile-img {
    width:40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
}

.home__post-username {
    font-weight: 500;
}

.home__post-title {
    font-weight: 600;
    font-size: 30px;

    margin-bottom: 20px;
}

.home__post-description {
    margin-bottom: 20px;
}

.home__post-img-container {
    width:100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.home__post-img {
    width:100%;
    height: 400px;
    object-fit: cover;
    object-position: center;

    border-radius: 20px;
}

.home__post-time {
    margin-bottom: 20px;
}

.home__post-buttons-container {
    display: flex;
    gap:20px;
}

.home__post-button {
    padding:10px;
    font-weight: 600;

    background-color: #ffe3e3;
    border-radius: 15px;

    transition: 0.2s ease;

    margin-bottom: 20px;

    cursor: pointer;
}
.home__post-button:hover {
    background-color:#ffc5c5;
}
.home__post-button:active {
    background-color:#faa7a7;
}

.home__post-comments {
    font-weight: 500;
}