.first-section{
    display: flex;
    align-items: center;

    height:90vh;
    width:100%;

    position:relative;
    overflow: hidden
}

.first-section__main{
    transform: translate(0,10%);
    margin-left:8vw;
    margin-right:8vw;
    max-width: 700px;
}

.first-section__title{
    font-size:50px;
    font-weight:700;
    color: #292E5A;
    display:inline-block;

    margin-bottom:30px;
}

.first-section__text{
    font-weight:400;
    font-size:20px;
    color: #292E5A;
    line-height: 1.3; 
    max-width: 600px;
    
    margin-bottom:50px;
}

.first-section__button{
    font-weight:500;
    font-size:20px;
    color:white;

    padding:10px 15px 10px 15px;
    border-radius:15px;
    background: #e7477d;

    display:inline-block;
    transition: 0.2s ease;

    cursor: pointer;


}
.first-section__button:hover{
    background: #e6306d;
}
.first-section__button:active{
    background: #d31051;
}

.first-section__graphic{
    position:absolute;
    right:-50px;
    top:230px;
    z-index: 0;

    height: 1000px;
    transform: rotate(-9deg);
    flex-shrink: 0;

    mix-blend-mode: overlay;    
    background-attachment: fixed;
}







.sec-section{
    display: flex;
    justify-content: center;
    align-items: center;

    height:80vh;
    max-width:100%;

    position:relative;
    overflow: hidden
}

.sec-section__left{
    position: absolute;
    left:0;
    width:55%;
    height:100%;
    background:#292E5A;

    display:flex;
    align-items: center;
    justify-content: center;
}

.sec-section__graphic{
    width:100%;
    transform: translate(0,5%);
    mix-blend-mode: overlay;    
}

.sec-section__right{
    position: absolute;
    right:0;
    width:45%;
    height:100%;
    background:#00013D;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-section__main{
    width:700px;
    margin:0px 8vw 0px 8vw;
}

.sec-section__title{
    font-size:40px;
    font-weight:700;
    color: #F5BBBD;

    margin-bottom:30px;
}

.sec-section__text{
    font-weight:400;
    font-size:20px;
    color:white;
}





.third-fourth-section-container{
    display:flex;
    flex-direction: column;

}


.third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height:90vh;
    width:100%;

    overflow: hidden
}

.third-section__title{
    font-size:50px;
    font-weight:700;
    color: #292E5A;

    margin-bottom:30px;
}

.third-section__text{
    font-weight:500;
    font-size:20px;
    color: #292E5A;
    line-height: 1.3; 
    text-align: center;

    width:800px;
    margin-bottom:90px;
}

.third-section__graphics-container {
    display: flex;
    gap:150px;
}

.third-section__icons-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #292E5A;

    background-color:#ffecec;

    width:200px;
    padding:30px;
    border-radius: 20px;
    transition: 0.2s ease;

    cursor: pointer;
}
.third-section__icons-text-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 9px 0px rgba(0, 59, 107, 0.116);
}

.third-section__icon {
    width:80px;
    margin-bottom: 10px;
    transition: 0.2s ease;
}
.third-section__icons-text-container:hover .third-section__icon{
    transform: scale(1.05);
}

.third-third-section__icons-text-container__text {
    font-weight:500;
    font-size:18px;
    line-height: 1.3; 
    text-align: center;
    transition: 0.2s ease;

}
.third-section__icons-text-container:hover .third-third-section__icons-text-container__text{
    transform: scale(1.05);
}


.third-section__graphic{
    position:absolute;
    right:-50px;
    top:230px;
    z-index: 0;

    height: 1000px;
    transform: rotate(-9deg);
    flex-shrink: 0;

    mix-blend-mode: overlay;    
}






.fourth-section{
    display: flex;
    justify-content: center;
    align-items: center;

    height:90vh;
    width:100%;

    position:relative;
    overflow: hidden;
}

.fourth-section__left{
    position: absolute;
    left:0;
    width:50%;
    height:100%;

    box-sizing: border-box;
    padding:20px;

    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fourth-section__graphic{
    width:100%;
    
    mix-blend-mode: overlay;    
}

.fourth-section__right{
    position: absolute;
    right:0;
    width:50%;
    height:100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-section__main{
    width:700px;
    margin:0px 8vw 0px 8vw;
}

.fourth-section__title{
    font-size:40px;
    font-weight:700;
    color: #292E5A;

    margin-bottom:30px;
}

.fourth-section__text{
    font-weight:500;
    font-size:20px;
    color: #292E5A;
}




.fifth-section{
    height:50vh;
    width:100%;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #ffecec;
}

.fifth-section__title {
    font-size:40px;
    font-weight:700;
    color: #292E5A;

    margin-bottom:30px;
}



footer {
    height:10vh;
    background-color: rgb(41, 41, 41);

    color:white;
    font-size: 14px;

    display: flex;
    align-items: center;
    gap:30px;

    box-sizing: border-box;
    padding-left:30px;
}
