.signup__left-side{
    width:60%;
    height:100vh;
    background: #292E5A;

    position:absolute;
    left:0;

    display:flex;
    align-items: center;

    overflow: hidden;
}

.signup__logo {
    height:50px;
    cursor: pointer;

    pointer-events:all;
    user-select:all;
    z-index: 100;

    position:absolute;
    top:0;

    padding-left:30px;
    padding-top: 5px;
}

.signup__left-side__text-container {
    margin-left:80px;
    transform: translate(0,10%);

}

.signup__left-side__text-1 {
    color: #F5BBBD;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 20px;
}

.signup__left-side__text-2 {
    color: #C88BC9;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}





.signup__right-side{
    width:40%;
    height:100vh;
    background: #000124;

    position:absolute;
    right:0;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 0;

}

.signup__login-title {
    font-size: 30px;
    margin-bottom:20px;
    color:#f7c7c9;

    font-weight: 400;
}

.signup__login-title-2 {
    font-size:34px;
    margin-bottom:60px;

    font-weight: 600;
    color: #eecbcc;
}

.signup__right-side form {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.signup__email-box, .signup__password-box{
    background-color: white;
    width:35%;
    height:44px;
    border-radius: 10px;

    outline:none;
    border:0;

    margin-bottom: 20px;

    font-family: 'Inter', sans-serif;
    font-size:16px;
    font-weight: 500;

    box-sizing: border-box;

    padding-left: 10px;

}

.signup__continue-button {
    width:35%;
    height:44px;
    border-radius: 10px;
    background: #F5BBBD;
    color: #00013E;
    font-weight: 600;

    display:flex;
    align-items: center;
    justify-content: center;

    cursor:pointer;
    transition: 0.2s ease;

    margin:10px 0px 100px 0px;
}
.signup__continue-button:hover{
    background: #eeabad;
}
.signup__continue-button:active{
    background: #d8898c;
}

.signup__sign-up-container{
    display:flex;
    gap:10px;
    color: #eecbcc;

}

.signup__sign-up-button{
    cursor:pointer;
    font-weight: 600;
    color:#e4b7b9;
}

.signup__err-msg {
    position:absolute;
    bottom:30%;

    width:300px;

    color:#ff5861;
    font-weight: 500;

    text-align: center;
}